
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Mono&display=swap');

::-webkit-scrollbar {
    display: none;
}

:root {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: black; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif ;
    text-rendering: optimizeLegibility;
}

.container {
    padding-bottom: 5rem;
}

.container .card {
    border-radius: 5px;
    margin-top: 3rem;;
    width: 100%;
    border: none;
    h1 {
        font-family: 'Roboto Mono', monospace;
    }
    h5 {
        letter-spacing: 0.6pt;
    }
}

.mono {
    font-family: 'Robot Mono', monospace;
}

.nav-link:hover {
    text-decoration: underline; 
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

.inverse {
    background-color: white;
    filter: invert(1);
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

.bot {
    border: none;
    height: 30rem;
}

.pad {
    padding-top: 1rem;
    padding-left: 0.5rem;
    &-xtra {
        padding-top: 3rem;
    }
}