<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Convert ancient ayurvedic units into their modern day equivalents in just a few clicks!">
    <meta name="keywords" content="convert, units, ayurveda, siddha, unani">
    <meta name="theme-color" content="#020202">
    <meta name="mobile-web-app-capable" content="yes">
    <title>AYUSH</title>
    <link rel="stylesheet" href="sass/style.scss">
    <script defer src="js/main.js"></script>
    <link href="./images/icons/icon-512x512.png" rel="icon" type="image/png">
    <link rel="manifest" href="manifest.webmanifest">
</head>

<body>
    <div class="container-fluid">
        <!--    Navbar     -->
        <nav class="navbar navbar-expand-lg navbar-light" data-aos="fade-in" data-aos-duration="800">
            <a class="navbar-brand" href="#">
                <h1 class="font-weight-bold">AYUSH</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pr-2">
                        <a class="nav-link" href="./data-sheet.html" target="_blank">
                            <h4 class="mono">Datasheet</h4>
                        </a>
                    </li>
                    <li class="nav-item pr-2">
                        <a class="nav-link" href="https://www.youtube.com/results?search_query=ayurveda" target="_blank">
                            <h4 class="mono">Videos</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://www.google.com/maps/search/?api=1&query=ayurvedic+hospitals+near+me"
                            target="_blank">
                            <h4 class="mono">Hospitals</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--    End navbar    -->
    </div>

    <!--    Main body    -->
    <div class="container pt-3" data-aos-duration="600">
        <div class="row" data-aos="fade-up">
            <main class="card shadow p-3" id="app" >
                <!--    Card title    -->
                <div class="card-title p-3 mb-0" data-aos="fade-in">
                    <h3 class="pb-0"> {{ metric }} converter</h3>
                </div>
                <!--    Card body    -->
                <div class="card-body pt-0">
                    <div class="row">
                        <!--    Card left pane    -->
                        <div class="col-md-6 p-3 pl-0">
                            <h1 class="p-1">{{ in_value }} {{ from }} is equivalent to {{ out_value }} {{ to }}.</h1>
                            <h5 class="text-muted p-1"> Using the {{ system }} system
                                <span v-if="authory">, Author: {{ author }}</span>
                                <span v-else>, No author available</span>
                            </h5>
                        </div>

                        <!--    Card right pane    -->
                        <div class="col-md-6 p-3 pt-0 pl-0">
                            <!--    Convert from    -->
                            <div class="input-group mb-3">
                                <input type="text" v-model="in_value" placeholder="Convert from"
                                    class="form-control border border-dark">
                                <div class="input-group-append">
                                    <select class="custom-select border-dark rounded-0" v-model="from">Units</button>
                                        <option v-for="unit in frominator" :value="unit"> {{ unit }} </option>
                                    </select>
                                </div>
                            </div>
                            <!--    Convert to    -->
                            <div class="input-group mb-3">
                                <input type="text" v-model="out_value" placeholder="Convert to"
                                    class="form-control border border-dark">
                                <div class="input-group-append">
                                    <select class="custom-select border-dark rounded-0" v-model="to">Units
                                        <option v-for="unit in tonator" :value="unit"> {{ unit }} </option>
                                    </select>
                                </div>
                            </div>

                            <!--    Options    -->
                            <div class="row">
                                <div class="col-md pb-1">
                                    <select class="custom-select border-dark inverse" v-model="system">System
                                        <option v-for="system in systems_arr" :value="system"> {{ system }} </option>
                                    </select>
                                </div>
                                <div class="col-md pb-1">
                                    <select class="custom-select border-dark inverse" v-model="metric">Metric
                                        <option v-for="metric in metricator" :value="metric"> {{ metric }} </option>
                                    </select>
                                </div>
                                <div class="col-md pb-1">
                                    <div v-if="authors_arr">
                                        <select class="custom-select border-dark inverse" v-model="author">Author
                                            <option v-for="author in authory" :value="author"> {{ author }} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--    End options    -->
                        </div>
                        <!--    End right pane    -->
                    </div>
                </div>
            </main>
            <!--    End card    -->
        </div>
        <h1 style="text-align: center;" class="pad-xtra" data-aos="fade-up" id="or" data-aos-delay="200">OR</h1>
        <h3 style="text-align: center;" data-aos="fade-up" data-aos-anchor="#or" data-aos-delay="250" class="mono">talk to the bot</h3>
        <p style="text-align: center;"  data-aos="fade-up" data-aos-anchor="#or" data-aos-delay="300">&darr;</p>
        <!-- <img src="./images/arrow.svg" class="arrow" alt="down arrow"> -->
        <div class="row">
            <div class="card shadow" data-aos="fade-up">
                <iframe class="bot" allow="microphone;"
                    src="https://console.dialogflow.com/api-client/demo/embedded/2856095e-0eca-4e22-ab64-d6e12cd1bded"></iframe>
            </div>
            <h6 class="pad mono" data-aos="fade-up">Hint: Try saying "how many grams is 1 ratti?"</h6>
        </div>
    </div>
</body>

</html>